---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ site.data.home.intro.lead-in }}</div>
          <div class="intro-heading text-uppercase">{{ site.data.home.intro.heading }}</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="tel:02036331725">{{ site.data.home.intro.btn1 }}</a>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">{{ site.data.home.intro.btn2 }}</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.services.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.home.services.subheading }}</h3>
          </div>
        </div>
        <div class="row text-center">
          {%- for service in site.data.home.services.service -%}
          {% assign ws = '' %}
          <div class="col-md-4 service-container">
            <img src="{{ assets_path }}img/{{service.image}}" alt="">
            <h4 class="service-heading">{{ service.heading }}</h4>
            <p class="text-muted">{{ service.text }}</p>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div style="padding:56.25% 0 0 0;position:relative;">
              <iframe src="https://player.vimeo.com/video/241003928?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        </div>
      </div>
    </section>


    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center contact-group">
            <h2 class="section-heading text-uppercase">{{ site.data.home.contact.heading }}</h2>
            <h3 class="section-subheading">{{ site.data.home.contact.subheading }}</h3>
            <h4 class="section-contact-item">Email:
              <a href="mailto:contact@phgas.net?Subject=Help%20from%20Website" target="_top">contact@phgas.net</a>
            </h4>
            <h4 class="section-contact-item">Phone:
              <a href="tel:02036331725">020 3633 1725</a>
            </h4>
            <ul class="list-inline social-buttons">
              {%- for sm in site.data.default.social-buttons -%}
              {% assign ws = '' %}
              <li class="list-inline-item">
                <a href="{{ sm.url }}">
                  <i class="{{ sm.icon }}"></i>
                </a>
              </li>
              {%- endfor -%}
              {% assign ws = '' %}
            </ul>
            <!-- <h4 class="section-contact-item">Or contact us using the form below</h4> -->
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="{{ site.data.home.contact.name }}" required="required" data-validation-required-message="{{ site.data.home.contact.name-required }}">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="{{ site.data.home.contact.email }}" required="required" data-validation-required-message="{{ site.data.home.contact.email-required }}">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="{{ site.data.home.contact.phone }}" required="required" data-validation-required-message="{{ site.data.home.contact.phone-required }}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="{{ site.data.home.contact.message }}" required="required" data-validation-required-message="{{ site.data.home.contact.message-required }}"></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">{{ site.data.home.contact.btn }}</button>
                </div>
              </div>
            </form>
          </div>
        </div> -->
      </div>
    </section>
